<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>CL Video Games</title>
</head>

<body>
    <div class="container">

        <div id="wrapper">
            <h1 class="p-3 mb-2 bg-dark text-white">Saved Posts</h1>
            <div id="savedPosts">
                {{saved}}
            </div>
            <div id="postNotes"></div>
        </div>


    </div> {{! End of bootstrap container div}}
</body>

</html>